
.banner-section{
    padding-top: 78px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__slider{
        max-width: 870px;
    }
    &__slider-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }
    &__slider-btnprev{
        left: 20px;
    }
    &__slider-btnnext{
        right: 20px;
    }
    .product-slider__slider-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }
    .slick-dots{
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 5px;
        }
        button{
            padding: 0;
            font-size: 0;
            margin: 0;
            width: 11px;
            height: 11px;
            border: 1px solid #fff;
            border-radius: 50%;
            background-color: transparent;
        }
    }
    
    .slick-active {
        button{
            background-color: #fff;
        }
    }
}



.sale-item{
    max-width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__info{
        color: #fff;
        background-color: #1C62CD;
        text-transform: uppercase;
        padding: 8px 20px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }
    &__price{
        text-align: right;
    }
    .price{
        font-family: 'Barlow', sans-serif;
        position: relative;
    }
    &__price-new{
        font-weight: 700;
        color: #1C62CD;
        font-size: 27px;
        line-height: 32px;
        margin-right: 6px;
        padding-right: 20px;
        &:after{
            content: '';
            background-image: url('../icons/icons-price.svg');
            position: absolute;
            right: 0;
            top: 8px;
            width: 15px;
            height: 18px;
        }
    }
}

.sale-item__price-old{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-right: 15px;
    background-image: url('../icons/old-line.svg');
    padding: 2px 5px;
    background-repeat: no-repeat;
    display: inline-block;
}

.sale-item__price-old::after{
    content: '';
    background-image: url('../icons/icons-price-old.svg');
    position: absolute;
    right: -10px;
    top: 8px;
    width: 8px;
    height: 10px;
} 

.sale-item__footer{
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span{
    color: #1C62CD;
    display: block;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
}

.sale-item__tittle{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 7px;
}

.banner-section__slider-img{
    object-fit: cover;
    min-height: 400px;

}

.sale-item__img{
    object-fit: contain;
    max-height: 177px;
}